<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>備份管理</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <style>
        .form-group {
            margin-bottom: 20px;
        }

        #mainContent {
            margin: 0 auto;
            /* 水平置中 */
            max-width: 1200px;
            /* 設置最大寬度，根據需要調整 */
            margin-top: 100px;
            padding: 20px;
            /* 添加內邊距 */
        }

        .hidden {
            display: none;
        }


        /* 調整內容區域的左邊距 */
        body {
            transition: margin-left 0.3s ease;
            /* 平滑過渡效果 */
            background-color: #f8f9fa;
            /* 主內容背景色 */
            font-family: 'Arial', sans-serif;
            /* 字體設置 */
        }
    </style>
</head>

<body>
    <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Enable body scrolling</button> -->
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">備份管理</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">後台管理系統</h5>
                    <button type="button" class="btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link py-2" href="admin.html">控制台</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-2" href="client.html">旅客資料</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-2" href="trip.html">設定行程</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-2" href="backup.html">備份管理</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div id="mainContent" class="container mt-5">
        <h3>下次自動備份時間</h3>
        <p id="nextBackupTime">{{ next_backup_time }}</p>

        <h3>備份紀錄</h3>
        <p>
        <ul id="backupRecords">
            {% for blob in blob_list %}
            <li>{{ blob }}</li>
            {% endfor %}
        </ul>
        </p>

        <h3>手動備份</h3>
        <p>
            <button id="manualBackupBtn" class="btn btn-primary">手動備份</button>
        <div id="backuping" class="hidden">
            <p>正在備份...</p>
        </div>
        </p>

        <h3>清除多餘檔案</h3>
        <p>保留過去24小時的備份，24小時以前則是每24小時保留一份</p>
        <p>
            <button id="cleanupBtn" class="btn btn-warning">清除多餘檔案</button>
        <div id="cleaning" class="hidden">
            <p>正在清除...</p>
        </div>
        </p>
        <div class="row align-items-end">
            <div class="mt-3">
                <div class="card border-info">
                    <div class="card-header bg-info text-gray">
                        <h5 class="mb-0">資料匯入匯出</h5>
                    </div>

                    <p>
                        <a href="/export_csv" class="btn btn-success">匯出所有旅客資料</a>
                        <button class="btn btn-success" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseWidthExample" aria-expanded="false"
                            aria-controls="collapseWidthExample">
                            匯入並覆蓋所有旅客資料
                        </button>
                    </p>
                    <div style="min-height: 120px;">
                        <div class="collapse collapse-horizontal" id="collapseWidthExample">
                            <div class="card card-body" style="width: 300px;">
                                <form action="/import_csv" method="post" enctype="multipart/form-data"
                                    class="d-inline-block">
                                    只能上傳格式正確的 CSV 檔案
                                    <div class="mb-3">
                                        <input class="form-control" type="file" id="csvFile" name="csvFile"
                                            accept=".csv">
                                    </div>
                                    <button type="submit" class="btn btn-danger float-end">上傳</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('manualBackupBtn').addEventListener('click', function () {
            // 顯示備份中訊息
            document.getElementById('backuping').classList.remove('hidden');
            fetch('/upload', {
                method: 'POST'
            }).then(function (response) {
                document.getElementById('backuping').classList.add('hidden');
                return response.json();
            }).then(function (data) {
                document.getElementById('backuping').classList.add('hidden');
                alert(data.message);
            });
        });

        document.getElementById('cleanupBtn').addEventListener('click', function () {
            document.getElementById('cleaning').classList.remove('hidden');
            fetch('clean', {
                method: 'POST'
            }).then(function (response) {
                document.getElementById('cleaning').classList.add('hidden');
                return response.json();
            }).then(function (data) {
                document.getElementById('cleaning').classList.add('hidden');
                alert(data.message);
            });
        });
    </script>
</body>

</html>