nav a {
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    width: 150px;
    display: block;
}


nav > ul{
    background-color: rgb(230,230,230);
    list-style: none;
    margin:0;
    padding:0;
}


nav a:hover{
    background-color: rgb(115,115,115);
    color: white;
}


.flex-nav{
    display: flex;
    justify-content: space-evenly;
}

